html, body{
	height: 100%; 
	margin:0px;
}

body {
	background-color: teal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.window{
	height: 100%; 
}

/******************* Visibility***********************/

#loginScreen{
	display: block;
}

#mainScreen{
	display: none;
}

#addNewAddressScreen{
	display: none;
}

#updateDeleteScreen{
	display: none;
}


/******************* LOGIN SCREEN***********************/

#formContainer{
height: 100%;
position: relative;
}


#login{
 width: 20%;
 border-radius: 5px;
 background-color: #f2f2f2;
 padding: 20px;	
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

input[type=text], select {
  width: 100%;
  padding: 8px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


dialog {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
dialog[open] {
  opacity: 1;
  pointer-events: inherit;
}
/* dialog::backdrop {
  background-color: rgba(84,84,1, 0.6);
} */

dialog::backdrop {
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    rgba(0, 0, 0, 0.3) 1px,
    rgba(0, 0, 0, 0.3) 20px
  );
  backdrop-filter: blur(3px);
}

/******************* MAP SCREEN***********************/


#mapContainer{
height: 100%;
position: relative;
}

.welcomeHeader{
border-style: solid;
border-width: 2px;
border-color: #ff8800;
border-radius: 4px;
	margin-bottom: 80px;
	 
}


.mapCenterer{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 80%;
}

#contactList { 
width: 20%;
float: left; 
}	

#map {
	width: 80%;
float: right;
}

/* -------------------------------------- Contact List ------------------- */

.contact {
    padding: 5px;
    transition: transform 0.4s;
}

/* Background color of uneven List Elements */
.contact:nth-child(odd) {
    background-color: #6e4869;
}
/* Background color of even List Elements */
.contact:nth-child(even) {
    background-color: #6e4869;
}

ul {
    margin: 5px;
    padding: 5px;
}

li {
    color: white;
    width: 70%;
    font-size: 20px;
    display: block;
    float: left;
    /* font-weight: bold; */
	margin-bottom: 4px;
}

.contact:hover {
    background: #8a5a83;
    opacity: 0.9;
}

 #contactList { 
margin-top: 30px;
}	
 
/******************* BUTTONS ***********************/

.button {
  background-color: #ff8800; 
  border: 2px solid #ff8800;
  color: white;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}


.logoutButton {
  background-color: red; 
  border: 2px solid #ff8800;
  color: white;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 4px;  
  cursor: pointer;
  border-radius: 4px;
  float: right;
}

.logoutButton:hover {
  background-color: teal;
}

.btn-group{
	padding-bottom: 10px;
		float: right;
}

.button:hover {
  background-color: teal;
}

#deleteButton:hover{
	background-color: red;
}

#cancelButton{
	  background-color: red; 
  border: 2px solid #ff8800;
  color: white;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 4px;  
  cursor: pointer;
  border-radius: 4px;
  float: right	
}





#welcomeUser{
	color: white;
}

#welcomeUserStatus{
	color: white;
}